body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    font-family: 'Lexend Deca', sans-serif;
}

#one {
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
}

#two {
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}

#three {
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
    ;
}

.parent {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    margin: 50px 150px;
}

.parent>* {
    flex-basis: 100%;
}

.content {
    padding: 60px;
    text-align: left;
}

.content h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.content p {
    line-height: 1.8;
    color: hsla(0, 0%, 100%, 0.75);
}

.btn {
    text-align: center;
    padding: 14px 34px;
    border-radius: 30px;
    display: inline-block;
    background-color: hsl(0, 0%, 95%);
    margin-top: 80px;
}

.btn:hover {
    cursor: pointer;
    background-color: inherit;
    color: hsl(0, 0%, 95%);
    outline: 2px solid;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 1028px) {
    .parent {
        flex-direction: column;
        margin: 50px 8px;
    }
}